<ion-header>
    <ion-toolbar>
        <ion-title><ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"
                alt="logo"></ion-img></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title>¡BIENVENIDO!</ion-card-title> 
            <ion-item>
            <ion-label color="warning">Warning</ion-label>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                  <ion-item>
                    <ion-label>Clase 1</ion-label><ion-button fill="outline">Generar QR</ion-button>
                  </ion-item>
                  <ion-item>
                    <ion-label>Clase 2</ion-label><ion-button fill="outline">Generar QR</ion-button>
                  </ion-item>
                  <ion-item>
                    <ion-label>Clase 3</ion-label><ion-button fill="outline">Generar QR</ion-button>
                  </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-title> Derechos reservados </ion-title>
    </ion-toolbar>
</ion-footer>